/* basic element styling */
html {
    font-size: 10px;
    background-color:black;
    margin-left: 5em;
    max-width: 100%;
    font-family: 'Courier New', Courier, monospace

}
h1{
    color:red;
    font-size: 26px;
    text-align: center;
    padding: 1em;
}
h2{
    color:red;
    font-size: 20px;
    margin: 1em
}
a{
    color: grey;
}
p {
    font-size: 16px;
    padding: 2em;
    color: whitesmoke;
    margin: 2em;
}
nav ul{
    list-style: none;
    text-align: right;
}
nav li{
    display: inline;
    color: grey;
    font-size: 20px;
    justify-content: space-evenly;
    padding: 1em;
    border-style: outset;
    border-width: 3px;
    background-color:gainsboro
} 
nav a{
    text-decoration: none;
}
ul.socialMedia{
    text-align: right;
    list-style-type: none;
}
a.socialMedia{
    font-size: 2em;
}
a.socialMedia:visited{
    color: grey;
}
a.socialMedia:hover, a.special:hover{
    color: red;
}
a.special:link{
    color: whitesmoke
}
a.special:visited{
    color: grey;
}
a.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 2em;
}
article{
    display:block;
    height:auto;
    width:500px;
    border-style:ridge;
}
.center{
    text-align: center;
}
.button label{
    color: whitesmoke;
    font-size: 2em;
    padding: 1em;
}
.button button{
    color: black;
}