@media screen and (min-width: 992px) {
    .imgContainer {
        margin-top: 150px;
    }
}

.scroll {
    height: 100vh;
    width: 100%;
}

html,
#mainPage {
    color: bisque;
    background-color: black;
}

.buttonSize {
    width: 100%;
}

#week5 {
    height: 150px;
    width: auto;
}

.end {
    margin-bottom: 4em;
}

.card {
    color: black;
    background-color: rgb(160, 160, 160);
}

body {
    overflow: hidden;
}